@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/caviar-dreams");
@import url("https://fonts.cdnfonts.com/css/");
@import url("https://fonts.cdnfonts.com/css/kiona-2");
@import url("https://fonts.cdnfonts.com/css/unbounded");
@import url("https://fonts.cdnfonts.com/css/lemonmilk");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}
body {
  background-color: #191616;
}

/* Navbar */
nav {
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 20;
  padding: 0rem 1rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.126) 0px 3px 8px;
  top: 0;
}
.links {
  display: flex;
  /* width: 70%; */
  justify-content: space-around;
}
.navlink {
  text-decoration: none;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  color: #7b0a65;
  margin: 0 2rem;
}
.nav-image {
  width: 8%;
}
.nav-image > img {
  width: 50%;
}
nav > button {
  background: none;
  border: none;
  width: 8%;
  display: none;
}
nav > button > img {
  width: 30%;
}
.big {
  margin-top: 10vh;
  height: 80vh;
  width: 60%;
  position: fixed;
  top: 0;
  margin-left: 10%;
  right: -60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: gainsboro;
  transition: 0.5s ease;
  z-index: 1000;
  justify-content: space-between;
  align-items: space-between;
  align-content: space-between;
}
.big > div {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  align-content: space-between;
  justify-content: space-between;
  /* margin-bottom: 30vh; */
}
.phonelinks {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  margin-bottom: 3vh;
  font-size: 1.1em;
}
.big > p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.7em;
  text-align: center;
}
.big.active {
  right: 0;
}
/* landing */
.welcome-container {
  background-image: url(/src/assets/homepage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10vh;
}
.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
  background-size: cover;
}
.welcome > h1 {
  font-family: "Permanent Marker", cursive;
  color: #ff93e9;
  margin-bottom: 4vh;
  font-size: 3em;
  animation: customAni 5s ease 0s 1 normal none;
}
@keyframes customAni {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.welcome-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* margin-top: 4vh; */
  /* background-image: url(/src/assets/welcome-text.png); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: rgba(0, 0, 0, 0.95); */
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.308),
    rgba(29, 29, 29, 0.596),
    rgb(25, 22, 22)
  ); */
}
.welcome-text > h4 {
  color: #fa89e4;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  width: 90%;
  text-align: justify;
  animation: customAni2 2s ease 0s 1 normal none;
  margin-top: 4vh;
}

@keyframes customAni2 {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

.welcome-btn {
  background: transparent;
  border: 0.4vh solid #fa89e4;
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.3em;
  margin-top: 5vh;
  color: #fa89e4;
  font-weight: 800;
  padding: 0.5rem 1.3rem;
  transition: all;
  transition-duration: 0.6s;
  margin-bottom: 4vh;
}
.welcome-btn:hover {
  background-color: #7b0a65;
  color: aliceblue;
  border: 0.4vh solid #7b0a65;
}
/* services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(25, 22, 22);
  padding: 2rem;
  border-bottom: 0.5vh solid silver;
}
.services > h1 {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
  padding: 1rem;
}
.service-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 70%;
}
.service-cell {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #cc77bb;
  font-family: "Qu", sans-serif;
  margin: 4vh 0;
  align-content: center;
  align-items: center;
}
#title {
  background-color: #7b0a65;
  color: rgb(253, 240, 252);
  padding: 0.4rem 1rem;
  border-radius: 10px;
  animation: customAni3 2s ease 0s infinite normal none;
}
@keyframes customAni3 {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.audio {
  text-align: center;
  padding: 4rem 1rem;
  border-bottom: 0.4vh solid silver;
}
.audio > a > button {
  background: none;
  color: #e091d0;
  border: 0.4vh solid #e091d0;
  padding: 0.2rem 1rem;
  margin-top: 3vh;
  font-family: "Ubuntu", sans-serif;
  transition: all;
  transition-duration: 0.5s;
}
.audio > a > button:hover {
  background-color: #7b0a65;
  border: 0.4vh solid #7b0a65;
  color: white;
}
.audio > h1 {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
}
.audio > h3 {
  font-family: "Ubuntu", sans-serif;
  color: #cbc9c9;
}

.upcoming-parent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
  /* align-content: center; */
  padding: 4rem 1rem;
  background-image: url(/src/assets/upbg.png.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.upcoming-programs {
  /* width: 90%; */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.upcoming-parent > h1 {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
  text-align: center;
  margin-bottom: 5vh;
}
.program-card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.program-card > h5 {
  font-family: "Kiona", sans-serif;
  color: #e091d0;
  font-size: 1.3rem;
}
.program-card > h4 {
  font-family: "Audiowide", sans-serif;
  color: #e091d0;
}
.program-card > img {
  width: 100%;
  margin: 1vh 0;
}
.view-program {
  margin-top: 1vh;
  background: none;
  border: 0.4vh solid #f4c0e8;
  color: #f4c0e8;
  font-family: "Audiowide", sans-serif;
  padding: 0.3rem 0.3rem 0.3rem;
  transition: all;
  transition-duration: 0.6s;
}
.view-program:hover {
  background-color: #bc209a;
  color: white;
  border: 0.4vh solid #bc209a;
}
/* Footer */
footer {
  color: white;
  padding: 4rem 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-top: 0.3vh solid silver;
  margin-top: 4vh;
}

.footer-header {
  display: flex;
  /* width: 90%; */
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 0 0 2rem;
}
.footer-header > h1 {
  font-family: "Qualy", sans-serif;
  color: rgb(215, 210, 210);
}
.footer-header > img {
  width: 8%;
}
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 3vh;
  padding: 1rem;
}
.quick-links > h3 {
  font-family: "Qualy", sans-serif;
  color: rgb(215, 210, 210);
  border-bottom: 0.3vh solid silver;
  width: max-content;
  font-size: 1.5em;
  margin-bottom: 4vh;
}
.quick-links > div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.quick-links > div > div {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.seclink {
  text-decoration: none;
  margin-bottom: 3vh;
  font-family: "Unbounded", sans-serif;
  color: #cbc9c9;
}
.footer-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: black;
  justify-content: center;
  width: 100%;
}
.footer-footer > h5 {
  font-family: "Qualy", sans-serif;
  color: #cbc9c9;
  padding: 1rem;
  border-bottom: 0.3vh solid silver;
}
.footer-footer > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 1rem 0 0;
}
.footer-footer > div > a > img {
  width: 20%;
}
lato
/* about */
.about-home {
  margin-top: 10vh;
  width: 100%;
}
.about-home > img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
}
.about-text > h3 {
  font-family: "Permanent Marker", cursive;
  color: #f821c9;
  text-align: center;
}
.about-text > h1 {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 3vh;
}
.about-sub {
  display: flex;
  color: white;
  flex-direction: column;
  margin-bottom: 3vh;
  padding: 1rem;
}
.about-sub > h3 {
  color: #e091d0;
  font-family: "COCOGOOSE", sans-serif;
  border-bottom: 0.4vh solid silver;
  width: max-content;
  margin-bottom: 2vh;
  font-size: 1.5em;
}
.about-sub > p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}
.MTT {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
  text-align: center;
  font-size: 2.5em;
  margin: 10vh 0 3vh;
}
.pastors-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 5vh;
}
.pastors-container > h1,
.ministers-container > h1,
.team-container > h1 {
  color: #f4c0e8;
  font-size: 1.5em;
  text-align: center;
  font-family: "Lemon/Milk", sans-serif;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.pastors-div,
.ministers-div {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.pastors > img {
  width: 100%;
}
.pastors > h5 {
  color: #e091d0;
  font-family: "Qualy", sans-serif;
  font-size: 1em;
}
.pastors > h6 {
  color: #e091d0;
  font-family: "Kiona", sans-serif;
}
.pastors-btn {
  background: transparent;
  border: 0.4vh solid #f4c0e8;
  color: #f4c0e8;
  margin-top: 1vh;
  padding: 0.3rem 1rem;
  transition: all;
  transition-duration: 0.5s;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
.pastors-btn:hover {
  background-color: #bc209a;
  color: white;
  border: 0.4vh solid #bc209a;
}

.ministers > img {
  width: 100%;
}
.ministers > h5 {
  color: #e091d0;
  font-family: "Qualy", sans-serif;
  font-size: 1em;
}
.ministers > h6 {
  color: #e091d0;
  font-family: "Kiona", sans-serif;
}
.teams-div {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.team > img {
  width: 100%;
}
.team > h5 {
  color: #e091d0;
  font-family: "Qualy", sans-serif;
  font-size: 1em;
}
/* Contact */
.contact-us {
  margin-top: 10vh;
  color: white;
  background-image: url(/src/assets/contactus.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
.contact-us > h1 {
  font-family: "Permanent Marker", cursive;
  color: #e091d0;
  text-align: center;
  font-size: 2em;
  margin: 10vh 0;
}
.contact-us > h4 {
  color: #dfa5d4;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  width: 90%;
  text-align: justify;
}
.contact-h3 {
  color: #f4c0e8;
  font-size: 1.5em;
  text-align: center;
  font-family: "Lemon/Milk", sans-serif;
  margin: 10vh 0;
}
.ccc {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-gap: 4rem 2rem;
}
a {
  text-decoration: none;
}
.contact-card > h4 {
  font-family: "Qualy", sans-serif;
  color: #cbc9c9;
  font-size: 0.9em;
}
.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* media query */
@media screen and (max-width: 970px) {
  .upcoming-programs {
    grid-template-columns: 40% 40%;
  }
  .ministers-div,
  .pastors-div {
    grid-template-columns: 40% 40%;
  }
}
@media screen and (max-width: 900px) {
  .service-time {
    width: 90%;
  }
}
@media screen and (max-width: 860px) {
  .nav-image {
    width: 9%;
  }
}
@media screen and (max-width: 768px) {
  .links {
    display: none;
  }
  nav > button {
    display: inline-block;
    width: 10%;
  }
  nav > button > img {
    width: 40%;
  }
  .nav-image {
    width: 12%;
  }
  .contact-us > h1 {
    font-size: 2em;
  }
  .contact-us > h4 {
    font-size: 0.8em;
  }

  .welcome {
    height: 70vh;
  }
  .service-cell {
    flex-direction: column;
  }
  #title {
    margin-bottom: 4vh;
  }
  .service-cell > h1 {
    font-size: 1.6em;
  }
  .upcoming-programs {
    grid-template-columns: 70%;
  }
  .program-card {
    text-align: center;
  }
  .program-card > h5 {
    font-size: 1em;
  }
  .quick-links {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .quick-links > h3 {
    text-align: left;
  }
  .quick-links > div {
    flex-direction: column;
  }
  .about-text > h1,
  .MTT {
    font-size: 2em;
  }
  .about-sub > h3 {
    font-size: 1.2em;
  }
  .about-sub > p {
    font-size: 0.9em;
  }
  .pastors-container > h1,
  .ministers-container > h1,
  .team-container > h1 {
    font-size: 1.3em;
  }
  .teams-div {
    grid-template-columns: 70%;
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  .pastors > h5,
  .teams > h5,
  .ministers > h5 {
    font-size: 0.9em;
  }
  .contact-us > h1 {
    font-size: 1.8em;
  }
}
@media screen and (max-width: 620px) {
  .contact-us>h1{
    font-size: 1.6em;
  }
  nav > button > img {
    width: 55%;
  }
  .nav-image {
    width: 15%;
  }
  .welcome-text > h4 {
    font-size: 1em;
  }
  .welcome-btn {
    font-size: 1em;
  }
  .welcome > h1,
  .contact-us > h1 {
    font-size: 2.5em;
  }
  .welcome-text > h4 {
    font-size: 0.9em;
  }
  .upcoming-programs {
    grid-template-columns: 90%;
  }
  .footer-header > h1 {
    font-size: 1.5em;
  }
  .footer-header > img {
    width: 10%;
  }
  .quick-links > h3 {
    font-size: 1.2em;
  }
  .seclink {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 580px) {
  .pastors-div,
  .ministers-div {
    grid-template-columns: 60%;
    text-align: center;
  }
  .pastors-container > h1,
  .ministers-container > h1,
  .team-container > h1 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 500px) {
  nav > button > img {
    width: 55%;
  }
  nav > button {
    width: 13%;
  }
  .nav-image {
    width: 19%;
  }
  .welcome > h1 {
    font-size: 2em;
  }
  .welcome-text > h4 {
    font-size: 0.8em;
  }
  .welcome-btn {
    font-size: 0.9em;
  }
  .program-card > h4 {
    font-size: 0.9em;
  }
  .program-card > h5 {
    font-size: 0.8em;
  }
  .footer-header {
    flex-direction: column;
  }
  .about-text > h1,
  .MTT {
    font-size: 1.5em;
  }
  .about-text > h3 {
    font-size: 1em;
  }
  .teams-div {
    grid-template-columns: 90%;
  }
  .ccc {
    grid-template-columns: 70%;
  }
  .contact-us>h1{
    font-size: 1.9em;
  }
}
@media screen and (max-width: 425px) {
  .services > h1,
  .upcoming-parent > h1,
  .audio > h1 {
    font-size: 1.8em;
  }
  .service-cell > h1 {
    font-size: 1.2em;
  }
  .audio > h3 {
    font-size: 0.8em;
  }
  .footer-header > img {
    width: 13%;
  }
  .about-sub > h3 {
    font-size: 1em;
  }
  .about-sub > p {
    font-size: 0.8em;
  }
  .welcome-container {
    background-image: url(/src/assets/homepage-mobile.jpg);
  }
}
@media screen and (max-width: 400px) {
  nav > button {
    width: 17%;
  }
  .nav-image {
    width: 25%;
  }
  .welcome-container {
    background-position: center;
  }
  .pastors-div,
  .ministers-div {
    grid-template-columns: 80%;
  }
}
@media screen and (max-width: 370px) {
  .footer-header > img {
    width: 15%;
  }
  .footer-header > h1 {
    font-size: 1.2em;
  }
  .footer-footer > h5 {
    font-size: 0.7em;
  }
}
